<ion-content>

  <div class="fadedBack"></div>

  <div class="paddingSpace">
    <h1>Account</h1>

    <div class="infoSection">
      <img class="profileImg" src="https://scontent.fakl2-1.fna.fbcdn.net/v/t1.0-9/13882185_1354509061245524_9026815624279005373_n.jpg?_nc_cat=107&_nc_ht=scontent.fakl2-1.fna&oh=473e087018200dd55f4433bd9da7d568&oe=5D37C6FE" />
      <div class="rightStuff">
        <h2>William Fischer</h2> <br />
        <h3>+61 421 959 142</h3>
        <button class="viewProfBtn">View Profile</button>
        <button class="viewProfBtn" (click)="logout()">Logout</button>
      </div>

    </div>

    <div class="splittingLine">

      <div class="nextSection">

        <div class="heartBox">
          <ion-icon class="heartIco" name="heart"></ion-icon>
          <label class="heartCount">06</label>
        </div>

        <div class="plusBox">
          <ion-icon class="tagIco" name="pricetag"></ion-icon>
          <label class="plusCount">24</label>
        </div>

        <div class="mySalesCore">
          <div class="itemSaleBox">

            <img src="https://cdn11.bigcommerce.com/s-kkon4imfg5/images/stencil/600x600/products/6890/5183/18700221__79298.1522385078.jpg?c=2" />
            <h1>Black Ghost Knife</h1>
            <div class="lilSelfBlock">
              <h2>$24</h2>
              <h2>5x</h2>
              <h2>11:40pm</h2>
            </div>

          </div>
          <div class="itemSaleBox">
            <img src="https://images-na.ssl-images-amazon.com/images/I/91ker4Y%2BHmL._SX466_.jpg" />
            <h1>Cherry Shrimp</h1>
            <div class="lilSelfBlock">
              <h2>$3</h2>
              <h2>20x</h2>
              <h2>2:00pm</h2>
            </div>
          </div>
          <div class="itemSaleBox">
            <img src="https://www.liveaquaria.com/images/categories/large/lg89621AfricanButterfly.jpg" />
            <h1>The Butterfly Fish</h1>
            <div class="lilSelfBlock">
              <h2>$45</h2>
              <h2>1x</h2>
              <h2>3:10pm</h2>
            </div>
          </div>
          <div class="emptyItemSaleBox"></div>
        </div>

      </div>

    </div>
  </div>
</ion-content>
