

<ion-content>

  <div class="paddingSpace ruleMode" *ngIf="rules">

    <ion-icon name="arrow-back" (click)="ruleMode()" class="backArrow"></ion-icon>
    <h1>The Rules</h1>

    <p>
      Auctions are open to <b>AUSTRALIAN RESIDENTS ONLY</b>, if you don’t live in Australia you can not take part to the biddings neither you can be a member of this group
      <br /><br />
      When you place a bid you agree to pay that amount in AUD in case your bid ends up to be the highest bid.
      <br /><br />
      Winners must contact the seller within 24hrs from the auction end time and make the payment within 48hrs from the end of the auction.
      If a member refuses to pay for an item won at auction, the member <b>WILL BE BANNED FROM POND.</b>
      <br /><br />
      Any dispute between sellers and buyers has to be dealt with in private.
      <br /><br />
      Sellers must clearly specify method and cost of shipping and handling in the auction description
      <br /><br />
      Seller can not modify or delete an auction if a valid bid has been placed on it.
      In the case a seller wants or needs to modify an auction that has already got a valid bid, the seller must contact admin first for authorisation.
      <br /><br />
      Seller must use at least 1 picture of the item for sale.
      The <b>PICTURE MUST BE OF THE ACTUAL ITEM FOR SALE</b>, no google images or such
      <br /><br />
      Seller must specify if moss is been grown emersed or submerged.
      <br /><br />
      No buy it now option, pure auctions only
      <br /><br />
      Bids has to be made in form of public comment with the number of AUD bidded
      Example: “$30 please” (VALID BID); “Thirty” (INVALID BID)
      <br /><br /><br />
      In case a reserve price is been asked by the seller, that price is the starting price of the auction, no bids are to be considered valid under the reserve price amount.
      <br /><br />
      The winning bid is the last higher one placed the last second before the auction end. Example: if an auction is set to end at 8pm the last valid bid will be the higher one at 7:59:59 pm.
      In case of two bids of the same amount placed at the same time, the earliest bid wins
      <br /><br />
      Abusive language or behaviour is not and will not be tollerated. Members using abusive behaviour or language WILL BE BANNED FROM THE GROUP.
      <br /><br />
      To avoid confusion with other auctions groups all end times will have to be set to Sydney time
      <br /><br />
      <b>NO FOR SALE POSTS</b> unless authorised by admin in writing
      <br /><br />
      <b>NO LINKS TO OTHER GROUPS OR PAGES</b> unless authorised by admin in writing
      <br /><br /><br />
      Being a member of POND means you accept these rules. Breaking any of these rules will potentially end up with the member being banned from the page
    </p>
  </div>

  <div class="paddingSpace" *ngIf="!rules">
    <h1>Auction</h1>

    <button class="rules" (click)="ruleMode()">The Rules</button>

    <h2>Closing Sunday, 27th April</h2>

    <div class="auctionCard">

      <div class="infoSect" *ngIf="!imgMode && infoMode">

        <ion-icon name="images" class="infoBack" (click)="untriggrInfoMode()"></ion-icon>

        <h1>"Sunburst" Sib Pair</h1>
        <h2><label style="color: #eccc68">Betta</label> &bull; <label style="color: #70a1ff">Half-Moon</label></h2>

      </div>

      <div class="whiteTriangle" *ngIf="!imgMode && !infoMode" (click)="triggrInfoMode()"></div>

      <div class="littleInfo" *ngIf="!imgMode && !infoMode" (click)="triggrInfoMode()">
        <h3>SB $98 | 6:00pm</h3>
        <h2><label style="color: #eccc68">Betta</label> &bull; <label style="color: #70a1ff">Half-Moon</label></h2>
        <h1>"Sunburst" Sib Pair</h1>
      </div>


      <div class="arrowContainer" *ngIf="!imgMode && !infoMode">
        <ion-icon name="arrow-dropright" (click)="triggrImgSlider()" class="arrow rightArrow"></ion-icon>
      </div>

      <div class="arrowContainer" *ngIf="imgMode">
        <ion-icon name="arrow-dropleft" (click)="triggrImgSlider()" class="arrow"></ion-icon>
      </div>

      <img class="backImg" *ngIf="!infoMode && !imgMode" src="https://scontent.fbne3-1.fna.fbcdn.net/v/t1.0-9/56757450_10157343344803593_8831864683829919744_o.jpg?_nc_cat=110&_nc_ht=scontent.fbne3-1.fna&oh=77e55111007bfb51da82555e6379f8b8&oe=5D3AC921"/>
      <img class="backImg" *ngIf="!infoMode && imgMode" src="https://scontent.fbne3-1.fna.fbcdn.net/v/t1.0-9/56890283_10157343344823593_6478007393400651776_o.jpg?_nc_cat=109&_nc_ht=scontent.fbne3-1.fna&oh=8d706d40448fa745c11760285b179e43&oe=5D30BF32" />
    </div>


    <div class="auctionCard">

      <div class="infoSect" *ngIf="!imgMode && infoMode">

        <ion-icon name="images" class="infoBack" (click)="untriggrInfoMode()"></ion-icon>

        <h1>"Saffron Candy" Giant Sib Pair</h1>
        <h2><label style="color: #eccc68">Betta</label> &bull; <label style="color: #70a1ff">Half-Moon</label></h2>

      </div>

      <div class="whiteTriangle" *ngIf="!imgMode && !infoMode" (click)="triggrInfoMode()"></div>

      <div class="littleInfo" *ngIf="!imgMode && !infoMode" (click)="triggrInfoMode()">
        <h3>SB $25 | 11:40pm</h3>
        <h2><label style="color: #eccc68">Betta</label> &bull; <label style="color: #70a1ff">Half-Moon</label></h2>
        <h1>"Saffron Candy" Giant Sib Pair</h1>
      </div>


      <div class="arrowContainer" *ngIf="!imgMode && !infoMode">
        <ion-icon name="arrow-dropright" (click)="triggrImgSlider()" class="arrow rightArrow"></ion-icon>
      </div>

      <div class="arrowContainer" *ngIf="imgMode">
        <ion-icon name="arrow-dropleft" (click)="triggrImgSlider()" class="arrow"></ion-icon>
      </div>

      <img class="backImg" *ngIf="!infoMode && !imgMode" src="https://scontent.fbne3-1.fna.fbcdn.net/v/t1.0-9/56201237_10157308993943593_4844109595284602880_o.jpg?_nc_cat=109&_nc_ht=scontent.fbne3-1.fna&oh=75c4a34732c899ea5d17388010037f14&oe=5D778C9F"/>
      <img class="backImg" *ngIf="!infoMode && imgMode" src="https://scontent.fbne3-1.fna.fbcdn.net/v/t1.0-9/55576097_10157308994538593_7820532664535875584_o.jpg?_nc_cat=100&_nc_ht=scontent.fbne3-1.fna&oh=cb3e564411da6915da9785bf69ea2612&oe=5D34DD2E" />
    </div>

  </div>


</ion-content>
