<div class="rippleCanvas">
  <div class="centerStuff">
    <!-- <div class="darkOverlay"></div> -->

    <h1>Welcome to <b> The Pond</b></h1>
    <h2>- For Fishkeepers -</h2>

    <img class="pondLogo" src="assets/whiteKoiClear.png" />

    <div class="socialBtn facebookBtn" (click)="facebookLogin()">
      Continue with Faceboook
    </div>

    <div class="socialBtn googleBtn" (click)="googleLogin()">
      Continue with Google
    </div>

    <!-- <div class="socialBtn googleBtn" (click)="tempLogin()">
      Continue without Auth
    </div> -->

    <label class="legalTxt">By logging in you agree to our <a href="#">Terms & Conditions</a></label>
  </div>
</div>
