//
// ion-content{
//   background: #9acdff;
// }
//
// .centerStuff{
//   height: 100%;
// }
h1{
  text-align: center;
  font-size: 21px;
  margin-top: 15%;
  font-family: 'Noto Serif TC', serif;
  text-transform: lowercase;
  color: black;
}

h2{

  text-align: center;
  font-size: 12px;
  margin-top: 5%;
  font-family: 'Noto Serif TC', serif;
  text-transform: lowercase;
  color: black;
  margin-top: 0%;
}

h1 b{
  color: #5e85c7;
}

.pondLogo{
  filter: sepia(20%);

  width: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;

  margin-top: 20%;
  margin-bottom: 10%;
}

.centerStuff{
    background: linear-gradient(#D1E7F5 50%, #F7D0D5);
    padding-top: 10%;
    height: 100vh;
}

.darkOverlay{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

canvas{
  width: 100%;
  height: 300px;
  display: block;
  position: absolute !important;
  margin-top: -150% !important;
}

.socialBtn{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5%;
  font-family: 'Noto Serif TC', serif;
  font-size: 12px;
  color: #fff;

  z-index: 9000;
  pointer-events: auto;
}

.facebookBtn{
  background: #70a1ff;
  margin-top: 15%;
}

.googleBtn{
  background: #ff8080;
  margin-top: 5%;
}

.legalTxt{
  text-align: center;
  font-size: 10px;
  color: black;
  width: 100%;
  display: block;
  margin-top: 5%;
  font-style: italic;

  z-index: 9000;
  pointer-events: auto;
  // text-shadow: 1px 1px #D1E7F2;
  //
  margin-bottom: 5%;
}

.legalTxt a{

}

.backIco{
  font-size: 21px;
  margin: 8%;
  margin-top: 0%;
  position: absolute;
  z-index: 90000;
  color: #8ca6d2;
  pointer-events: auto;
}


.registerBtn{
  background: #7c9bff;;
  margin-top: 5%;
}

.loginBtn{
  background: #b2b2b2;
  margin-top: 5%;
}