<ion-content>
  <div class="centerStuff">
    <!-- <div class="darkOverlay"></div> -->

    <ion-icon class="backIco" name="arrow-back-outline" (click)="goToSpecies()"></ion-icon>

    <h1>Welcome to <b>Pond</b></h1>
    <h2>- For Fishkeepers -</h2>

    <img class="pondLogo" src="assets/whiteKoiClear.png" />

    <div class="socialBtn facebookBtn" (click)="facebookLogin()">
      Continue with Faceboook
    </div>

    <div class="socialBtn googleBtn" (click)="googleLogin()">
      Continue with Google
    </div>

    <!-- <div class="socialBtn googleBtn" (click)="tempLogin()">
      Continue without Auth
    </div> -->

    <label class="legalTxt">By logging in you agree to our <a (click)="tac()">Terms & Conditions</a></label>
  </div>
</ion-content>
