
ion-icon{
  padding-bottom: 7%;
  color: #D1E7F5 !important;
  margin-top: 6%;
  font-size: 24px !important;
}

ion-label{
  display: none !important;
}

ion-tab-bar{
  height: 60px !important;
  border: none !important;
  box-shadow: 0px 0px 10px #e8e8e8;
}


.tab-selected{
  ion-icon{
    color: #7dbbe2 !important;
  }
  ion-label{
    color: #7dbbe2 !important;
    font-weight: 900 !important;
  }
}
