.formPadding{
  padding: 10%;
}

.confirmBtn{
  width: 100%;
  height: 50px;
  background: linear-gradient(#78CBE5, #ABDEE0);
  color: #fff;
  margin-top: 10%;
  font-family: 'Crimson Text', serif !important;
  text-transform: uppercase;
}

.thickMenuBtns{
  font-size: 12px;
  font-family: 'Crimson Text', serif !important;
  font-weight: 800;
  padding-right: 5%;
  color: #7dbbe2;
}
