<ion-content>

  <!-- Section 1: ALL TANKS -->
  <div class="paddingSpace" *ngIf="defaultMode">
    <h1>Your Tanks</h1>

    <div class="tankSpace" (click)="addTank()">
      <h3>+ <br /><br /> Start your first tank !</h3>
    </div>

    <div *ngIf="tanks">
      <div class="tankSpace" *ngFor="let tank of tanks" (click)="initTankDetail(tank.name)">
        <h3>{{tank.name}}</h3>

        <h4><i>{{tank.ph}}deg &bull; PH{{tank.ph}} &bull; {{tank.size}}L</i></h4>
        <h5>With a {{tank.substrate}} substrate</h5>
      </div>
    </div>

    <ion-spinner name="bubbles" color="primary" class="mySpinner" *ngIf="!doneLoadingTanks"></ion-spinner>
  </div>

  <div style="padding-top: 3em" *ngIf="tankDetailMode && activeTankData">
    <h1 style="padding-bottom: 0;">{{activeTankData.name}}</h1>
    <p (click)="deleteTank()" style="width: 100%; margin: 0 auto; text-align: center; padding-bottom: 2.5em">- Delete Tank -</p>
    <p (click)="tankUpload()" style="width: 100%; margin: 0 auto; text-align: center; padding-bottom: 2.5em">- Upload Tank Image -</p>

    <ion-list *ngIf="lastChemistrySessionDate" class="speciesList">
      <ion-list-header>

        <ion-label>
          <ion-icon name="flask" slot="start"></ion-icon>
          Water Chemistry <br /> As of ~ {{ lastChemistrySessionDate | date:'fullDate' }} &nbsp;
          <label (click)="openNewChemistrySession()" class="newsession">+ new</label>
        </ion-label>

        <!-- <ion-label>Tank Chemistry as of - {{  }} <a class="newsession" href="#">+ new</a></ion-label> -->
      </ion-list-header>

      <ion-item>
        <ion-label>
          <b> pH </b> &nbsp; <i>{{lastChemistrySession.ph.toFixed(1)}}</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>
          <b> Ammonia (NH<sub>3</sub>) </b> &nbsp; <i>{{lastChemistrySession.ammonia.toFixed(1)}} ppm</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>
          <b> Nitrite (NO<sup>-</sup><sub>2</sub>) </b> &nbsp; <i>{{lastChemistrySession.nitrite.toFixed(1)}} ppm</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>
          <b> Nitrate (NO<sup>-</sup><sub>3</sub>) </b> &nbsp; <i>{{lastChemistrySession.nitrate.toFixed(1)}} ppm</i>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-list *ngIf="!lastChemistrySessionDate" class="speciesList">
      <ion-list-header>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>Start measuring water chemistry <label (click)="openNewChemistrySession()" class="newsession">+ new</label></ion-label>
        <!-- <ion-label>Tank Chemistry as of - {{  }} <a class="newsession" href="#">+ new</a></ion-label> -->
      </ion-list-header>

      <ion-item>
        <ion-label>
          <b> pH </b> &nbsp; <i>-</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>
          <b> Ammonia (NH<sub>3</sub>) </b> &nbsp; <i>-</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>
          <b> Nitrite (NO<sup>-</sup><sub>2</sub>) </b> &nbsp; <i>-</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <!-- <ion-icon name="flask" slot="start"></ion-icon> -->
        <ion-label>
          <b> Nitrate (NO<sup>-</sup><sub>3</sub>) </b> &nbsp; <i>-</i>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-list class="speciesList">
      <ion-list-header>
        <!-- <a class="lilEdit" href="#">edit</a> -->
        <ion-label>Tank Stats</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon name="flask" slot="start"></ion-icon>
        <ion-label>
          <b> average pH </b> &nbsp;
          <i *ngIf="activeTankData.average_ph">{{activeTankData.average_ph.toFixed(1)}}</i>
          <i *ngIf="!activeTankData.average_ph">-</i>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="flame" slot="start"></ion-icon>
        <ion-label>
          <b> Temp (Celcius &deg;) </b> &nbsp;
        </ion-label>
        <ion-input (change)="updateTankTemp($event.target.value)" inputmode="numeric" type="number" [value]="activeTankData.temp"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="cube" slot="start"></ion-icon>
        <ion-label>
          <!-- <b> Size (Litres) </b> &nbsp; <i>{{activeTankData.size}} Litres</i> -->
          <b> Size (Litres) </b> &nbsp;
        </ion-label>
        <ion-input (change)="updateTankSize($event.target.value)" inputmode="numeric" type="number" [value]="activeTankData.size"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="funnel" slot="start"></ion-icon>
        <ion-label (click)="presentSubstrateEditModal()">
          <b> Substrate </b> &nbsp; <i>{{activeTankData.substrate}}</i>
        </ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon slot="start" name="flame"></ion-icon>
        <ion-label slot="end"><b> Temperature </b> &nbsp; <i>23</i></ion-label>
      </ion-item> -->
    </ion-list>

    <ion-list *ngIf="fish_in_tank != null" class="speciesList">
      <ion-list-header>
        <ion-label>Contains {{ fish_in_tank.length }} fish<a (click)="openSpeciesSearch()" class="lilEdit">add</a></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let fish of fish_in_tank">{{fish['quantity']}} &nbsp; <b> {{fish.comm_name | titlecase}} </b> &nbsp; <span class="fish-sci-name"><i>({{fish.sci_name | titlecase}})</i></span></ion-item>
      <!-- <ion-item (click)="selectSpecies('Butterflyfish')">1x &nbsp; <b> Butterflyfish </b> &nbsp; <i>(Pantodon Buchholzi)</i></ion-item>
      <ion-item (click)="selectSpecies('Pinoy Blue Angelfish')">2x &nbsp; <b> Pinoy Blue Angelfish </b> &nbsp; <i>(Pterophyllum)</i></ion-item>
      <ion-item (click)="selectSpecies('Kuhli Loach')">4x &nbsp; <b> Kuhli Loach </b> &nbsp; <i>(Actinopterygii)</i></ion-item>
      <ion-item (click)="selectSpecies('Otocinclus')">1x &nbsp; <b> Otocinclus </b> &nbsp; <i>(Hypoptopomatinae)</i></ion-item> -->
    </ion-list>
  </div>

  <!-- Section 2: ADD CHEMISTRY SESSION -->
  <div class="addChemistry" *ngIf="addChemistryMode">

    <h1>Add a Tank</h1>

    <form (ngSubmit)="confirmChemistryForm()">
      <ion-list>

        <ion-item>
          <ion-label position="stacked">pH</ion-label>

          <ion-range min="0" max="10.0" step="0.1" snaps="true" ticks="true" pin="true" [(ngModel)]="chemistry.ph" name="ph">
            <ion-icon size="small" slot="start" name="snow"></ion-icon>
            <ion-icon slot="end" name="flame"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ammonia (NH<sub>3</sub>)</ion-label>

          <ion-range min="0" max="4.0" step="0.1" snaps="true" ticks="true" pin="true" [(ngModel)]="chemistry.ammonia" name="ammonia">
            <ion-icon size="small" slot="start" name="snow"></ion-icon>
            <ion-icon slot="end" name="flame"></ion-icon>
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nitrite (NO<sup>-</sup><sub>2</sub>)</ion-label>

          <ion-range min="0" max="6.0" step="0.1" snaps="true" ticks="true" pin="true" [(ngModel)]="chemistry.nitrite" name="nitrite">
            <ion-icon size="small" slot="start" name="snow"></ion-icon>
            <ion-icon slot="end" name="flame"></ion-icon>
          </ion-range>

        </ion-item>

        <ion-item>
          <ion-label position="stacked">Nitrate (NO<sup>-</sup><sub>3</sub>)</ion-label>

          <ion-range min="15" max="35" step="1" snaps="true" ticks="true" pin="true" [(ngModel)]="chemistry.nitrate" name="nitrate">
            <ion-icon size="small" slot="start" name="snow"></ion-icon>
            <ion-icon slot="end" name="flame"></ion-icon>
          </ion-range>

        </ion-item>

        <button class="confirmBtn" type="submit">Confirm</button>
      </ion-list>

    </form>
  </div>

  <!-- Section 2: ADD TANK -->
  <div class="addTank" *ngIf="addTankMode">

    <h1>Add a Tank</h1>

    <form (ngSubmit)="confirmForm()">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Tank Name</ion-label>
          <ion-input type="text" [(ngModel)]="tank.name" name="name" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">PH (approx)</ion-label>
          <ion-input type="number" [(ngModel)]="tank.ph" name="ph" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Temperature (DEG)</ion-label>

          <ion-range min="15" max="35" step="1" snaps="true" ticks="true" pin="true" [(ngModel)]="tank.temp" name="temp" required>
            <ion-icon size="small" slot="start" name="snow"></ion-icon>
            <ion-icon slot="end" name="flame"></ion-icon>
          </ion-range>

        </ion-item>

        <ion-item>
          <ion-label position="stacked">Size (Liters)</ion-label>
          <ion-input type="number" [(ngModel)]="tank.size" name="size" required></ion-input>
        </ion-item>

        <ion-radio-group [(ngModel)]="tank.substrate" name="substrate" required>
          <ion-list-header>
            <ion-label>Substrate</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Coral Sand</ion-label>
            <ion-radio slot="start" value="coral_sand"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>River Sand</ion-label>
            <ion-radio slot="start" value="river_sand"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Quartz</ion-label>
            <ion-radio slot="start" value="quartz"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Laterite</ion-label>
            <ion-radio slot="start" value="laterite"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Large Stones</ion-label>
            <ion-radio slot="start" value="large_stones"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Medium Stones</ion-label>
            <ion-radio slot="start" value="medium_stones"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Micro-Stones</ion-label>
            <ion-radio slot="start" value="micro_stones"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Other</ion-label>
            <ion-radio slot="start" value="other"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <button class="confirmBtn" type="submit">Confirm</button>
      </ion-list>

    </form>
  </div>
</ion-content>
