
.lilEdit{
  font-size: 8px;
  text-decoration: none;
}

.speciesList{
  white-space: nowrap;
}


.blueBack{
  --background: #E1EEF7 !important;
}

.nothingFoundTxt{
    text-align: center;
    width: 70%;
    margin-top: 50%;
    color: #8e8e8e;

    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-weight: bold;
    font-weight: 200;

    b{
      color: #3875F1;
      font-weight: 400;
    }
}

.highlightGreen{
    color: #BBD0FA;
}

.topTitle{
  display: block;
  width: 100%;
  height: 20px;
  text-align: left;
  color: #F0F5FB;
  padding-top: 15%;
  font-weight: 800;
  font-size: 14px;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #8e8e8e;
}

.centerTit{
  font-size: 16px;
  margin-left: 5%;

  a{
    text-shadow: none !important;
    margin-left: 5%;
    text-transform: lowercase;
    font-size: 10px;
  }
}

.speciesSelectedMode{

  h1{
    text-align: center;
    margin-top: 10%;
    color: #7dbbe2;
  }

  .backArrow{
    margin-left: 7%;
    font-size: 26px;
    margin-top: 10%;
    color: #D1E7F5;
  }
}

.koiLogo{
  width: 60%;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  margin-top: 35%;
}
.tunaLogo{
  opacity: 0.8;
}


.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0px !important;
}

.theResults{
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.theResults:last-child{
  padding-bottom: 10%;
}



.speciesBrick{
  width: 100%;
  height: 320px;
  background: #fff;
  padding: 5%;
  margin-top: 10%;
  text-align: left;
  color: black;
  border-radius: 6px;


  .imageBox{
    width: 100% !important;
    height: 200px !important;
    background: #fff;

    img{
      display: inline-flex;
      width: 100%;
      object-fit: contain;
      padding: 5%;
      margin-top: 5%;
      background: #fff;
      border-radius: 3px
    }

  }

  h2{
    font-size: 18px;
    font-weight: 900;
    color: #57637C;
    text-align: center;
    font-family: 'Crimson Text', serif !important;
    text-transform: capitalize;
  }

  h3{
    text-align: center;
    margin-top: -1%;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
    text-overflow: ellipsis;
    font-size: 14px;
    padding-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ACAFBA;
    text-transform: capitalize;
  }

  h3 b{
    text-decoration: underline;
    color: #3875F1;
  }
}

.loadingSpinner{
  text-align: center;
  width: 100%;
  font-size: 21px;
  margin-top: 50%;

  *{
    stroke: #F2E9E4 !important;
    fill: #C9ADA7 !important;
  }


}

.lessTopSpinner{
  margin-top: 15%;
}

.ourBox{
  //background: linear-gradient(-10deg, #1dd1a1, #10ac84) !important;
}



.nextPageTxt{
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 15%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #57637C;
  text-transform: capitalize;
  letter-spacing: 3px;
}


.imagesBrick{
  width: 80%;
  height: 200px;
  border-radius: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  background: #fff;

  margin-top: 10%;
  padding: 5%;

  .imageBox{
    width: 100% !important;
    height: 150px !important;
    background: #fff;

    img{
      display: inline-flex;
      width: 100%;
      object-fit: contain;
      padding: 3%;
      margin-top: 5%;
      background: #fff;
      border-radius: 3px
    }

  }
}

.informationBrick{
  width: 80%;
  height: auto;
  border-radius: 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  background: #fff;
  overflow: scroll;

  margin-top: 10%;
  margin-bottom: 10%;

  text-align: center;
  font-family: 'Crimson Text', serif !important;
  text-transform: capitalize;

  h1{
    color: #7dbbe2;
    font-weight: italic;
    font-family: 'Crimson Text', serif !important;
    font-size: 32px;
    letter-spacing: 2px;
  }

  h2{
    color: #7dbbe2;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4px;
  }

  p{
    color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 10%;
    margin-top: -30%;
  }

  ul{
    list-style: none;
    font-size: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    padding: 5%;
    padding-bottom: 35%;
  }

  .addToTankButton{
    width: 100%;
    padding: 8%;
    color: #fff;
    text-transform: uppercase;
    background: #7dbbe2;
    text-shadow: 1px 1px black;
    display: block;
  }

  h5{
    font-size: 12px;
    z-index: 9000;
    display: block;
    color: #7dbbe2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 0%;
  }

  .speciesGrid{
    width: 100%;
    display: flex;

    .speciesBlock{
      width: 50%;
      height: 50px;
      margin: 5%;
      background: 0px 0px 10px black;
      margin: 10%;
    }
  }

  .noVariations{
    font-size: 12px;
    color: #8e8e8e;
    padding: 10%;
    text-align: center;
    margin-top: 5%;
  }
}

.addtoTankIcon{
    margin-left: 90%;
    margin-top: -10%;
    color: #57637C;
    font-size: 24px;

    display: block;
}

.selectTankPopup{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: #fff;
  width: 80%;
  min-height: 25vh;
  margin-top: 35%;
  z-index: 9000;
  padding: 5%;
  box-shadow: 0px 0px 10px #8e8e8e;
  font-family: 'Crimson Text', serif !important;
  border-radius: 10px;

  h1{
    text-align: center;
    font-size: 18px;
    text-transform: capitalize !important;
  }

  .checkIcon{
      display: block;
      width: 100%;
      font-size: 36px !important;
      text-align: center;
      margin-top: 15%;
      color: #00b35a;
  }

}

.variationsBrick{
  padding-bottom: 5%;
}

.backgroundDimmer{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.3);
  z-index: 8000;
}


.saltSwitch{
  *{
    --inner-border-width: 0px 0px 0px 0px !important;
  }

  ion-label{
    font-family: 'Crimson Text', serif !important;
    font-size: 21px;
    color: #8e8e8e;
    text-align: right;
  }
}

.alphabetHeader{

  height: 5vh;

  *{
    --inner-border-width: 0px 0px 0px 0px !important;
  }

  .alphabet{
    display: block;
    width: 400px;
    height: 100%;
    list-style: none;
    bottom: 0;
    margin-left: -12.5%;
    text-align: center;
    position: relative;
    display: flex;
    overflow-x: auto;

    .letter{
      width: 6px;
      color: #8e8e8e;
      margin-left: 3.5px;
      margin-right: 3.5px;
      height: 100%;
      line-height: 12px;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Crimson Text', serif !important;
      display: block;
      text-align: center !important;
    }

    .litLetter{
      color: lightblue;
    }
  }

  ion-scroll {
    white-space: nowrap;
    height: 250px;
}


}
