
.lilEdit{
  font-size: 8px;
  text-decoration: none;
}

.speciesList{
  white-space: nowrap;
}


.speciesSelectedMode{

  h1{
    text-align: center;
    margin-top: 10%;
    color: #7dbbe2;
  }

  .backArrow{
    margin-left: 7%;
    font-size: 26px;
    margin-top: 10%;
    color: #D1E7F5;
  }
}
