<ion-header *ngIf="!speciesSelected">
  <ion-toolbar>
    <ion-searchbar placeholder="Search Common or Scientific Name..." (change)="checkAPI($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!speciesSelected">

    <div *ngIf="!resultsArrays">
      <img src="../assets/whiteKoiClear.png" class="koiLogo"/>
      <h3>Search Above</h3>
    </div>

    <div *ngIf="resultsArrays" class="theResults">
      <div class="speciesBrick" *ngFor="let fish of resultsArrays">
        <img *ngIf="fish.PicPreferredName" src="https://www.fishbase.de/images/species/{{fish.PicPreferredName}}" />
        <img *ngIf="!fish.PicPreferredName" src="../assets/noImg.png" />
        <h2>{{fish.FBname}}</h2>
        <h3>{{fish.Genus}} &bull; <i>{{fish.Species}}</i></h3>
        <h3>Length - {{fish.CommonLength}} &bull; Max Length - {{fish.Length}} </h3>
      </div>
    </div>

    <!-- <ion-list class="speciesList">
      <ion-list-header>
        <ion-label>Core Tank <a class="lilEdit" href="#">edit</a></ion-label>
      </ion-list-header>
      <ion-item (click)="selectSpecies('Ghost Knife')">1x &nbsp; <b> Ghost Knife </b> &nbsp; <i>(Apteronotus Albifrons)</i></ion-item>
      <ion-item (click)="selectSpecies('Butterflyfish')">1x &nbsp; <b> Butterflyfish </b> &nbsp; <i>(Pantodon Buchholzi)</i></ion-item>
      <ion-item (click)="selectSpecies('Pinoy Blue Angelfish')">2x &nbsp; <b> Pinoy Blue Angelfish </b> &nbsp; <i>(Pterophyllum)</i></ion-item>
      <ion-item (click)="selectSpecies('Kuhli Loach')">4x &nbsp; <b> Kuhli Loach </b> &nbsp; <i>(Actinopterygii)</i></ion-item>
      <ion-item (click)="selectSpecies('Otocinclus')">1x &nbsp; <b> Otocinclus </b> &nbsp; <i>(Hypoptopomatinae)</i></ion-item>

      <br />

      <ion-list-header>
        <ion-label>Shrimp Ecosystem <a class="lilEdit" href="#">edit</a></ion-label>
      </ion-list-header>
      <ion-item (click)="selectSpecies('Orange Rili Shrimp')">32x &nbsp; <b> Orange Rili Shrimp </b> &nbsp; <i>(Neocaridina)</i></ion-item>
    </ion-list> -->
  </div>

  <div *ngIf="speciesSelected" class="speciesSelectedMode">

     <ion-icon name="arrow-back" (click)="unSelectSpecies()" class="backArrow"></ion-icon>

    <h1>The {{species.name}}</h1>

  </div>

</ion-content>
