<ion-header>
  <ion-toolbar>
    <form>
      <ion-searchbar placeholder="Search Common or Scientific Name..." value="{{searchQuery}}" (change)="checkAPI($event, false)"></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="blueBack" id="coreScroll">

  <div *ngIf="!speciesSelected">

    <div *ngIf="searchQuery.length <= 2">
      <img src="../assets/whiteKoiClear.png" class="koiLogo animated pulse infinite"/>
    </div>

    <div  class="loadingSpinner" *ngIf="!doneLoading && searchQuery.length >= 2 && fbSpecies.length == 0 && ourFish.length == 0 && relatedSpecies.length == 0">
      <ion-spinner name="crescent"></ion-spinner>
    </div>

    <label class="nothingFoundTxt" *ngIf="doneLoading && searchQuery.length > 2 && fbSpecies.length < 1 && ourFish.length < 1 && relatedSpecies.length < 1"><b>No results returned.</b> <br  /><br /> Please try a different query. If nothing seems to work, type the fish name into google, then copy either the genus or species name into the searchbar.</label>



    <div *ngIf="fbSpecies.length >= 1" class="theResults">
      <div class="topTitle"><label *ngIf="fbSpecies.length >= 10">{{maxSpeciesReturn}}/</label>{{fbSpecies.length}} Species Found from Fishbase</div>

      <div *ngFor="let fish of fbSpecies">
        <div class="speciesBrick animated bounceInLeft"  *ngIf="fish.id > minSpeciesReturn && fish.id < maxSpeciesReturn">
         <ion-slides pager="false" *ngIf="fish.Pic" (click)="selectSpecies(fish, '')">
           <ion-slide class="imageBox">
             <img *ngIf="fish.Pic[0]" src="{{fish.Pic[0]}}" />
           </ion-slide>
           <ion-slide class="imageBox">
             <img *ngIf="fish.Pic[1]" src="{{fish.Pic[1]}}" />
           </ion-slide>
           <ion-slide class="imageBox">
           <img *ngIf="fish.Pic[2]" src="{{fish.Pic[2]}}" />
           </ion-slide>
           <ion-slide class="imageBox">
           <img *ngIf="fish.Pic[3]" src="{{fish.Pic[3]}}" />
           </ion-slide>
          </ion-slides>

          <img (click)="selectSpecies(fish, '')" *ngIf="!fish.PicPreferredName && !fish.Pic" src="../assets/noImg.png" />
          <img (click)="selectSpecies(fish, '')" *ngIf="fish.PicPreferredName && !fish.Pic" src="https://www.fishbase.de/images/species/{{fish.PicPreferredName}}" />

          <h2 *ngIf="fish.FBname">{{fish.FBname}}</h2>
          <h2 *ngIf="!fish.FBname">The {{fish.Species}}</h2>
          <h3>
            <b (click)="showGenus(fish.Genus)"> {{fish.Genus}}</b>
            <i> {{fish.Species}}</i> <br />
            <label *ngIf="fish.CommonLength">Length - {{fish.CommonLength}} &bull;</label>
            Max Length - {{fish.Length}}cm
          </h3>
        </div>
      </div>
      <label class="nextPageTxt" (click)="nextPage()" *ngIf="minSpeciesReturn >= 10"> -- PREVIOUS PAGE --</label>
      <label class="nextPageTxt" (click)="nextPage()" *ngIf="fbSpecies.length >= 10"> -- NEXT PAGE --</label>
    </div>

    <div *ngIf="ourFish.length >= 1" class="theResults">
      <div class="topTitle">Our Database</div>
      <div class="speciesBrick ourBox animated bounceInLeft" *ngFor="let fish of ourFish">
        <img (click)="selectSpecies(fish, '')" *ngIf="fish.fishBaseImg" src="https://www.fishbase.de/images/species/{{fish.fishBaseImg}}" />
        <img (click)="selectSpecies(fish, '')" *ngIf="!fish.fishBaseImg" src="../assets/noImg.png" />
        <h2 >{{fish.name}}</h2>
        <h3><b (click)="showGenus(fish.genus)"> {{fish.genus}}</b><i> {{fish.species}}</i></h3>
      </div>
    </div>

    <div *ngIf="relatedSpecies.length >= 1" class="theResults">
      <div class="topTitle">{{relatedSpecies.length}} Species Related</div>
      <div class="speciesBrick animated bounceInLeft" *ngFor="let fish of relatedSpecies">
        <img (click)="selectSpecies(fish, false)" *ngIf="fish.PicPreferredName" src="https://www.fishbase.de/images/species/{{fish.PicPreferredName}}" />
        <img (click)="selectSpecies(fish, false)" *ngIf="!fish.PicPreferredName" src="../assets/noImg.png" />
        <h2 *ngIf="fish.FBname">{{fish.FBname}}</h2>
        <h2 *ngIf="!fish.FBname">The {{fish.Species}}</h2>
        <h3><b (click)="showGenus(fish.Genus)"> {{fish.Genus}}</b><i> {{fish.Species}}</i><br />
            <label *ngIf="fish.CommonLength">Length - {{fish.CommonLength}} &bull;</label> Max Length - {{fish.Length}} </h3>
      </div>
    </div>



    <!-- <ion-list class="speciesList">
      <ion-list-header>
        <ion-label>Core Tank <a class="lilEdit" href="#">edit</a></ion-label>
      </ion-list-header>
      <ion-item (click)="selectSpecies('Ghost Knife')">1x &nbsp; <b> Ghost Knife </b> &nbsp; <i>(Apteronotus Albifrons)</i></ion-item>
      <ion-item (click)="selectSpecies('Butterflyfish')">1x &nbsp; <b> Butterflyfish </b> &nbsp; <i>(Pantodon Buchholzi)</i></ion-item>
      <ion-item (click)="selectSpecies('Pinoy Blue Angelfish')">2x &nbsp; <b> Pinoy Blue Angelfish </b> &nbsp; <i>(Pterophyllum)</i></ion-item>
      <ion-item (click)="selectSpecies('Kuhli Loach')">4x &nbsp; <b> Kuhli Loach </b> &nbsp; <i>(Actinopterygii)</i></ion-item>
      <ion-item (click)="selectSpecies('Otocinclus')">1x &nbsp; <b> Otocinclus </b> &nbsp; <i>(Hypoptopomatinae)</i></ion-item>

      <br />

      <ion-list-header>
        <ion-label>Shrimp Ecosystem <a class="lilEdit" href="#">edit</a></ion-label>
      </ion-list-header>
      <ion-item (click)="selectSpecies('Orange Rili Shrimp')">32x &nbsp; <b> Orange Rili Shrimp </b> &nbsp; <i>(Neocaridina)</i></ion-item>
    </ion-list> -->
  </div>

  <div *ngIf="speciesSelected" class="speciesSelectedMode">

     <ion-icon name="arrow-back" (click)="unSelectSpecies()" class="backArrow"></ion-icon>

    <h1>{{species.name}}</h1>

  </div>

</ion-content>
