.topTitle1{
  font-weight: 800;
  font-size: 34px !important;
  z-index: 9000;
  display: block;

  margin-top: 30px;
}

.topTitle2{
  font-weight: 400;
  font-size: 24px !important;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  display: block;

  margin-top: 10%;
  margin-bottom: 10%;
}

.titleWithSpace{
  margin-top: 10% !important;
}

.circIco{
  position: absolute;
  margin-top: 2px;
  margin-left: 6px;
}

ion-toolbar{
  box-shadow: 0 4px 10px -2px #e8e8e8 !important;
  --background: #F5F7F9 !important;
--border-width: 0 0 0px !important;
  padding-bottom: 0px !important;
}


ion-searchbar{
  font-family: 'Crimson Text', serif !important;
}


.saltSwitch{
  // height: 40px;

  *{
    --inner-border-width: 0px 0px 0px 0px !important;
      --background: #F5F7F9 !important;
  }

  ion-label{
    font-family: 'Crimson Text', serif !important;
    font-size: 18px;
    color: #8e8e8e;
    text-align: right;
    white-space: nowrap;
  }

  .pondTitleVersion{
    text-align: left;
    font-family: "Crimson Text", serif !important;
    font-size: 16px !important;
    color: #7dbbe2;
    padding-left: 5%;
    padding-right: 0%;
    white-space: nowrap;

    width: 50%;
    height: 0px;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .rightTitle{
    float: right;
    color: #8e8e8e;
    text-align: right;
    width: 50%;
    padding-left: 0%;
    padding-right: 5%;
  }

  .loadMoreIco{
    color: #7dbbe2;
    font-size: 26px;
    position: absolute;
    display: block;
    margin-top: 2%;
  }

  .toggle{
    margin-top: -1%;
    padding-right: 5%;
    --background: #F5F7F9 !important;
  }
}

.leftTitle{
  margin-top: 15%;
  text-align: left;
  padding-left: 8px;
  line-height: 25.5px;
}

.wishlistPillScroller{
    width: 100%;
    height: 150px;
    padding: 3%;
    padding-left: 0%;
    margin-bottom: 10%;
    overflow-x: auto;
    overflow-y: hidden;
    display: inline-flex;
}

.wishlistPill{
  min-width: 250px;
  height: 100%;
  background: #fefefe;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  display: block;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  overflow: hidden;
  padding: 3%;

  img{
    width: 90%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .triangle{
    width: 0;
    height: 0;
    border-top: 140px solid transparent;
    border-bottom: 140px solid transparent;
    border-right: 140px solid white;
    margin-left: 36%;
  }

  h1{
    font-size: 14px !important;
    margin-top: -30%;
    text-transform: capitalize;

    text-align: right;
    white-space: nowrap;
    max-width: 40% !important;
    text-overflow: ellipsis;
    overflow: hidden;
    right: 0;
    margin-left: 60%;
  }

  h2{
    font-size: 10px !important;
    margin-top: -12%;
    text-transform: capitalize;
    text-align: right;

    max-width: 55% !important;
    margin-left: 60%;
    right: 0;
  }
}

.wishlistPill:first-child{
  margin-left: 2%;
}

.emptyPill{
  background: none;
  box-shadow: none;
  min-width: 5px;
  height: 550px;
}

.greyedLines{
  color: #8e8e8e;
  margin-left: 10%;
  text-overflow: inherit;
  white-space: pre-wrap !important;
}

.statsListBottom{
  margin-bottom: 10vh !important;
}

.specialInput{
  input[type="file"] {
    display: none;
  }

  color: #7dbbe2 !important;
}

.starIco{
  color:	#EEE8AA;
}

.fishNameText{
  text-transform: capitalize;
}

.innerStarIcon{
  position: absolute;
  margin-left: 93%;
  font-size: 18px;
}


.theResults .subtitleTxt{
  max-width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  /* position: absolute; */
  margin-top: 1%;
  height: 20px;
}

.noteTxt{
  font-weight: 100;
  font-style: italic;
  margin-left: 2%;
  font-size: 14px;
}

.loadingImgSpinner{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: -45%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.topTitle3{
  font-weight: 200;
  font-size: 14px !important;
  margin-top: 1%;
  /* margin-left: 5%; */
  text-align: center;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #6a6a6a;;
}


.paddingSpace{
  padding: 30px !important;
  padding-bottom: 0px;
  padding-top: 0px;
  background: transparent;
  font-family: 'Crimson Text', serif !important;
}

.profileImg{
  width: 40%;
  height: 150px;
  box-shadow: 0px 10px 10px #e8e8e8;
  border-radius: 10px;
  object-fit: cover;
  z-index: 9000;
  display: block;
  transition: all 500ms ease-in-out;
}

.infoSection{
  width: 100%;
  display: inline-flex;
  margin-bottom: 30px;
  transition: all 500ms ease-in-out;
}

.noBottomMargin{
  margin-bottom: 0%;
  height: 150px;
}

.viewProfBtn{
  background: #00B4DB;
  border: none;
  padding: 2%;
  width: 100px;
  border-radius: 50px;
  font-size: 8px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  z-index: inherit;
  position: absolute;
  white-space: nowrap;
  display: block;
  margin-top: 5%;
  margin-left: 26px;
  /* margin-right: auto; */
  /* left: 0; */
  /* right: 0; */
}

.splittingLine{
  width: 100%;
  margin-top: 15%;
  height: 1px;

  padding: 0% !important;
  background: #FEFFFF;
  font-family: 'Crimson Text', serif !important;
}

.fadedBack{
  width: 100%;
  margin-top: -15%;
  position: absolute;
  z-index: 90000;
  display: block;
  // box-shadow: inset 0px -20px 20px -2px white;
  box-shadow: inset 0px 50px 50px 3px white;
  pointer-events: none;
  transition: all 500ms ease-in-out;
  //background: rgba(0,0,0,0.5);
}

.fadedImg{
  width: 100%;
  height: 260px;
  z-index: 0;
  position: absolute;
  display: block;
  object-fit: cover;
  opacity: 0.1;
  transition: all 500ms ease-in-out;
}

.heartBox{
  width: 55px;
  height: 75px;
  background: #FF4B97;
  box-shadow: 0px 3px 5px 0.1px #FF4B97;
  border-radius: 10px;
  margin-top: -8%;
  display: block;
  position: absolute;
}

.plusBox{
  width: 55px;
  height: 75px;
  background: #fff;
  box-shadow: 0px 3px 5px 0.1px #cae0ff;
  border-radius: 10px;
  margin-top: 18%;
  display: block;
  position: absolute;
}

.heartIco{
  text-align: center;
  color: #fff;
  width: 100%;
  padding-top: 30%;
  font-size: 24px;
}

.heartCount{
  text-align: center;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: 800;

}

.heightWrapper{

}

.tagIco{
  text-align: center;
  color: #7eb3ff;
  width: 100%;
  padding-top: 30%;
  font-size: 24px;
}

.plusCount{
  text-align: center;
  color: #7eb3ff;
  width: 100%;
  display: block;
  font-weight: 800;

}

.addTankTxt{
    color: #8e8e8e;
    margin-top: 10%;
    font-size: 18px;
}

.wishlistTxt{
    color: #adae61;
    /* margin-top: 10%; */
    font-size: 14px;
    float: right;
    margin-top: -9%;
    text-transform: uppercase;
}

.noFishYetTxt{
  text-align: center;
  margin-top: 30%;
  color: #d3d3d3;
  font-size: 16px !important;
}

.notLoggedIn{
  text-align: center;
  margin-top: 20%;
  color: #d3d3d3;
  font-size: 14px;
}

.logoutBtn{
  margin-top: -10% !important;
}

.nextSection{
  width: 100%;
  height: 200px;
  padding-top: 15%;
}

.mySalesCore{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, calc(50% - 40px));
  grid-template-rows: minmax(150px, 1fr);
  padding: 10px 10px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: 20%;
  margin-top: -10%;

}

.itemSaleBox{

  width: 100px;
  margin-right: 10%;
  grid-area: span 1 / span 1;
  box-shadow: 0px 3px 5px 0.1px #cae0ff;

  padding: 5%;

  img{
    height: 60px;
    object-fit: cover;
    width: 100%;
  }

  h1{
    font-size: 14px !important;
    text-align: center;
  }

  h2{
    font-size: 12px !important;
    margin-right: 5%;
    margin-left: 5%;
  }

}

.emptyItemSaleBox{
  width: 80px;
  margin-right: 10%;
  grid-area: span 1 / span 1;

}

.lilSelfBlock{
  display: inline-flex;
  margin-top: -10%;
}

.tankImageBack{
  width: 100vw;
  height: 300px;
  display: block;
  object-fit: cover;

  position: absolute;
  z-index: 9000;
  left: 0;
  top: 0;

  box-shadow: 0px 0px 10px black;
}

.textNoneCenter{
  text-align: center;
  color: #8e8e8e;
  font-size: 10px;
  width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.backArrow{
  margin-left: 90%;
  margin-top: 3%;
  position: absolute;
  color: #8da9ce;
  font-size: 32px;
  display: block;
  z-index: 9000;
}

.backArrowBlack{
  color: black;
  display: block;
  z-index: 9000;
  position: fixed;
  top: 7%;
  margin-bottom: 10%;
  left: 80%;
  font-size: 36px;
}

.topTitle4{
  font-size: 32px !important;
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left: 5%;
  display: block;
  font-family: 'Crimson Text', serif !important;
}

.coreName{
  margin-top: 320px !important;
  margin-left: 5%;
  text-align: left;

  label{
  width: 80%;
  }
}

.realScroll{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.whiteBackground{
  background: #fff !important;
}

.ughAbsoule{
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 9000;
  left: 0;
  top: 314px;
  transition: all 500ms ease-in-out;

  top: 0px !important;
  margin-top: -19%;
  height: 100vh;
  position: relative !important;
}

.headSection{
  width: 100%;
  display: block;
  background: #fff;
  overflow: hidden;
  position: fixed;
  z-index: 90000;
  box-shadow: 0px 0px 10px #393939;
}

.bodySection{
  width: 100%;
  display: block;
  padding-top: 0%;
  padding-bottom: 0%;

  background: #fff;
  z-index: inherit;

  height: 100%;
  box-shadow: 0px -1px 10px #aaaaaa;
}

ion-content{
  background: transparent;
  --background: transparent;
}

.bodySection ion-content{
  background: #fff;
  --background: #fff;
}


.aLittlePadding{
  height: 100%;
}

.dynamicBox{
  height: 80vh;
  background: transparent;
  padding-top: 0%
}


// .dynamicBox{
//   height: 80vh;
// }

.flexBack{
  display: flex;
}

.dynamicUghBox{
  top: 0px !important;
  margin-top: -19%;
  height: 100vh;
  position: relative !important;
  transition: all 500ms ease-in-out;
}

.spaceBlock{

}

.ughAbsoule .inner-scroll{
  background: transparent !important;
}

.ughAbsouleNoTop{
  width: 80%;
  height: 100%;
  position: absolute;
  display: block;
  /* z-index: 9000; */
  left: 0;
  /* margin-top: 15%; */
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 18%;
}

.ughSmallAbsoulte{
  top: 104px;
  transition: all 600ms ease-in-out;
}

.personOutline{
  width: 47px !important;
  font-size: 33px;
  position: absolute;
  right: 0;
  color: #737373;
}

.smallBack{
  height: 160px !important;
  object-fit: cover;
  transition: all 500ms ease-in-out;
  padding-top: 6%;
}

.smallImage{
  width: 50px;
  height: 50px;
  transition: all 500ms ease-in-out;
  margin-top: 7%;
}

.hideLowOpacity{
  background: none;
  padding-top: 21%;
}

.forcedSpace{
  height: 100px;
  width: 100%;
  display: block;
}

.massiveForcedSpace{
  height: 800px;
  width: 100%;
  display: block;
}

ion-refresher{
  margin-top: -5%;
  z-index: 900000;
}

.addTankContent{
  position: absolute;
  width: 100%;
  height: 100%;
}

.addTankContent form{
  margin-bottom: 30%;
}

.addTank{
  width: 80%;
  overflow: hidden;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.topTanksContent{
  margin-top: 30%;
}

.deleteTitle{
  font-size: 14px;
}

.pushTitleLeft{
  //margin-left: 3%;
}

.item-options-end ion-item-option{
    background: #ff7979 !important;
}

.whiteSpaceWraper *{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.whiteSpaceWraper ion-icon{
  font-size: 21px;
}


.whiteSpaceWraper label{
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 20px;
}

.whiteSpaceWraper b{
  width: 100% !important;
}


.splittingLine{
  .paddingSpace{
      margin-bottom: 10%;
  }
}

.fishMainName *{
  white-space: nowrap !important;
}










h1{
  font-weight: 400;
  font-size: 34px !important;
  padding-bottom: 10%;
  text-align: center;
  font-family: 'Crimson Text', serif !important;
}

.paddingSpace{
  // padding: 10% !important;
  // padding-top: 0% !important;
  font-family: 'Crimson Text', serif !important;
  transition: all 500ms ease-in-out;
  // height: 260px;
}

.tankContainer{
  margin-top: 100%;
}

.tankSpace{
  width: 100%;
  height: 130px;
  background: linear-gradient(#78CBE5, #ABDEE0);
  display: block;
  color: #fff;
  text-align: left;
  padding-top: 2%;
  padding-left: 8%;
  border-radius: 2px;
  margin-top: 5%;

  h3{
    font-size: 18px;
  }

  h4{
    font-size: 14px;
    margin-top: -3%;
  }

  h5{
    font-size: 12px;
    margin-top: -1%;
  }
}

.mySpinner{
  text-align: center;
  margin-top: 35%;
  margin-bottom: 10%;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


.centerFishSpinner{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 0%;
  margin-bottom: 5%;
}

.addChemistry{
  padding: 5%;
}
// ion-item-divider ion-reorder{
//   marg
// }
.confirmBtn{
  width: 100%;
  height: 50px;
  background: linear-gradient(#78CBE5, #ABDEE0);
  color: #fff;
  margin-top: 10%;
  font-family: 'Crimson Text', serif !important;
  text-transform: uppercase;
}

.lilEdit {
  padding-left: 1em;
}

.trashIcons{
  .icon-inner{
    fill: #eb4d4b !important;
  }
}

.fish-sci-name {
  font-size: 80%;
  padding-left: 1em;
}

.selectPal{
  color: #fff;
  font-size: 21px;
  float: right;
  margin: 5%;
  margin-right: 0%;
}

.selectPal:first-child{
  margin-right: 5%;
}

.tankSizeSelect{
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  padding: 5%;
  padding-bottom: 30%
}

.specialTopArrow{
  margin-top: 0%;
}

.leftSize{
  z-index: 9000;
  font-size: 12px;
  margin-left: 170px;
  margin-top: 11px;
  position: absolute;
}



// .textNoneCenter{
//   text-align: center;
//   width: 50vw;
//   display: block;
//   font-size: 10px;
//   text-align: center;
//   color: #8e8e8e;
//   /* background: green; */
//   margin-right: auto;
//   left: 0;
//   right: 0;
//   margin-left: auto;
//   position: absolute;
// }
.speciesSelectedMode{
  background: #fefefe;
  margin-top: 20%;
  padding: 3%;
  width: 100%;
  position: absolute;
  z-index: 9000;

  .detailSpinner{
    text-align: center;
    margin-top: 30%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  h1{
    text-align: center;
    margin-top: 10%;
    color: #7dbbe2;
  }
}


.fishNameText{
  text-transform: capitalize;
}

.backArrowSpeciesSelet{
  margin-left: 7%;
  font-size: 26px;
  margin-top: 10%;
  color: #D1E7F5;
}

.coreInformation{

    ul{
      list-style: none;
      margin-left: -5%;
      margin-top: -6%;
      font-size: 12px;
      padding: 6%;
    }

    ion-card-title{
      margin-top: 5%;
    }

    .addSpeciesClicker{
      text-transform: uppercase;
    }

    .hydrated{
      text-transform: capitalize !important;
    }
}



.wikiDescription{
  padding: 7%;
  font-style: italic;
  text-align: left;
  color: #8e8e8e;
  font-size: 12px;
  margin-top: -13%;

  display: block;

  transition: 1s all ease;
  height: inherit;
  padding-bottom: 10%;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4 !important;
  /* autoprefixer: off */
  -webkit-box-orient: vertical !important;
  /* autoprefixer: on */
}

.wikiDescriptionSmall{
  height: 79px;
  margin-bottom: 10%;
  display: -webkit-box !important;

}



.imageBox{
  width: 100% !important;
  background: #fff;

  img{
    display: inline-flex;
    height: 250px;
    object-fit: contain;
    background: #fff;
    border-radius: 3px
  }

}


.wikiDescriptionSmall{
  height: 79px;
  margin-bottom: 10%;
  display: -webkit-box !important;

}

.speciesName{
  color: #d3d3d3;
  text-transform: capitalize;
}

.centerSeeMore{
  text-transform: lowercase;
  text-align: center;
  font-size: 12px;
  display: block;
  width: 100%;
  margin-bottom: 5%;
}




.hideContent{
  visibility: hidden;
}

.newTopContent{
  top: 0;
  position: absolute;
}




.androidHeader{
  margin-top: 5% !important;
}



.theResults{
  padding: 10%;
  padding-top: 10%;
  padding-bottom: 0%;
}

.theResults:last-child{
  padding-bottom: 10%;
}

.desSpeciesTitle{
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  display: block;
  color:	#bbb68a;
  font-size: 18px !important;
  margin-top: 15%;
}


.backArrowDes{
  position: absolute;
  color: #8e8e8e;
  font-size: 18px;
  display: block;
  z-index: 9000;
}

.wishlistMode{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  z-index: 9000;
  min-height: 110vh;
  padding-top: 20%;

  ion-card{
    background: #fff !important;
    width: 100% !important;
    margin-top: 15% !important;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,.14) !important;
  }


  ion-slide{
    height: 150px !important;
  }

  ion-card-subtitle b{
    border-bottom: 1px dotted #8e8e8e;
  }

  .sc-ion-card-ios-s img {
      display: block;
      width: 100%;
      height: 150px;
      object-fit: contain;
      background: black;
      object-position: center;
  }

  .maxSizeContent{
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 5;
    transition: 1s all ease;
    height: inherit;
    margin-bottom: 5%;
    font-size: 12px;
  }


  .rightIconMore{
    float: right;
    margin-right: 3%;
    display: block;
    font-size: 21px;
  }

  .starIco{
    color:	#EEE8AA;
  }

}

.fullMode{
  margin-top: 20% !important;
  background: green !important;
}

.rightSideIcons{
  display: inline-flex;
  margin-left: auto;

  ion-icon{
    margin-right: 5px;
    margin-left: 5px;
    display: block;
  }
}

.group{
  border: 1px solid #d8d8d8;
  margin-bottom: 25px;
  padding: 5%;
  padding-bottom: 6%;
  border-radius: 12px;
}

.group:first-child{
  margin-top: 25px;
}

.groupHeader{
  display: inline-flex;

  ion-icon{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    display: block;
  }
}

.sideIcons{
  padding-top: 2px;
  padding-left: 3px;
  position: absolute;

  display: inline-flex;

  div{
    padding-left: 10%;
    padding-right: 10%;
  }

  ion-icon{
    // margin-top: 2%;
    // margin-left: 3%;
    // position: absolute;
  }

  .sideTxt{
    font-size: 17px;
    margin-top: 0px;
    display: block;
    color: #7acce5;
    margin-left: -2px;
    font-weight: bold;
  }
}
