<ion-app class="whiteBackground flexBack">

  <ion-header *ngIf="!addTankMode && !tankSizeImages">
    <ion-toolbar>

      <form action="." (ngSubmit)="checkAPI($event, false)">
        <ion-searchbar (ionChange)='triggerAutoComplete($event.target.value)' placeholder="Search your tanks..." type="search" (ionClear)="clearSearch()" [(ngModel)]="tankSearchController" [ngModelOptions]="{standalone: true}" showSearchButton></ion-searchbar>
      </form>

      <ion-item class="toggle littleSwitch animated fadeIn" *ngIf="littleSearchbar">
        <ion-toggle [(ngModel)]="saltwater" (click)="switchSalt()"></ion-toggle>
      </ion-item>
    </ion-toolbar>

    <ion-toolbar class="saltSwitch">
      <ion-item>
        <h1 class="pondTitleVersion">
          <label (click)="addTank()">+ New Tank</label>
        </h1>

        <h1 class="pondTitleVersion rightTitle">
          <label *ngIf="user.name && !showHead" (click)="triggerHead()">{{user.name}}</label>
          <label *ngIf="user.name && showHead" (click)="triggerHead()">Close</label>
          <label *ngIf="!user.name" (click)="login()">Login</label>
        </h1>

        <!-- <label *ngIf="user.name && tanks && tanks.length >= 1">
          <ion-icon name="person-circle-outline" class="personOutline" (click)="triggerHead()" *ngIf="!showHead"></ion-icon>
          <ion-icon name="close-outline" class="personOutline" (click)="triggerHead()" *ngIf="showHead"></ion-icon>
        </label> -->


      </ion-item>
    </ion-toolbar>
  </ion-header>



    <div class="bodySection" *ngIf="!addTankMode && !tankSizeImages">
      <ion-content>


        <div class="headSection" *ngIf="showHead">
          <div *ngIf="defaultMode" class="fadedBack"></div>
          <img *ngIf="defaultMode" class="fadedImg" [src]="user.photoURL" src="../assets/noImg.png" onerror="this.src='../assets/noImg.png'" default="../assets/noImg.png"/>
          <img *ngIf="defaultMode" class="fadedImg" [src]="user.photoURL" src="../assets/noImg.png" onerror="this.src='../assets/noImg.png'" default="../assets/noImg.png"/>

          <div class="paddingSpace">
            <label class="topTitle1 animated fadeIn" *ngIf="defaultMode">Account</label>

            <div class="infoSection" *ngIf="defaultMode">
              <img class="profileImg" [src]="user.photoURL" src="../assets/noImg.png" onerror="this.src='../assets/noImg.png'" default="../assets/noImg.png"/>
              <div class="rightStuff animated bounceIn">
                <label class="topTitle2" *ngIf="user.name">{{user.name}}</label>
                <label class="topTitle2" *ngIf="!user.name">Unknown User</label>
                <label class="topTitle3">
                  <b *ngIf="totalQuanityOfFish">{{totalQuanityOfFish}} Fish</b> <br />
                  <i>
                    <b>{{totalQuanityOfFollows}}</b> Follower<label *ngIf="totalQuanityOfFollows !== 1">s</label>
                    <br />
                    <b>{{totalQuanityOfFollowers}}</b> Following
                  </i>
                </label>
                <button class="viewProfBtn" *ngIf="user.name" (click)="presentActionSheet()">Settings</button>
                <button class="viewProfBtn" *ngIf="!user.name" (click)="login()">Login</button>

                <br />
                <br />

              </div>
            </div>
          </div>
        </div>


        <!-- <div class="splittingLine"></div> -->

        <div class="paddingSpace" *ngIf="defaultMode" [ngStyle]="{ 'fullMode' : !showHead }">

          <!-- Section 1: ALL TANKS -->
          <ion-refresher slot="fixed" color="primary"  (ionRefresh)="doRefresh($event)"  *ngIf="tanks && tanks.length >= 1 && showTanks">
            <ion-refresher-content pullingIcon="arrow-down-outline" refreshingSpinner="bubbles" color="primary" >
            </ion-refresher-content>
          </ion-refresher>

          <ion-spinner name="bubbles" color="primary" class="mySpinner" *ngIf="!doneLoadingTanks && user.name"></ion-spinner>

          <label class="leftTitle topTitle2" *ngIf="user.name && tanks && tanks.length >= 1 && tankSearchController.length == 0">
            Tanks
            <div class="sideIcons">
              <div (click)="hideTanks()">
                <ion-icon *ngIf="showTanks" name="remove-circle-outline"></ion-icon>
                <ion-icon *ngIf="!showTanks" name="add-circle-outline"></ion-icon>
              </div>
              <div>
                <ion-icon name="git-compare-outline" (click)="groupTanks()" *ngIf="!groupingMode"></ion-icon>
                <ion-icon name="checkmark-done-circle-outline" (click)="confirmCheckedTanks()" *ngIf="groupingMode"></ion-icon>
              </div>
            </div>

          </label>

          <!-- <label *ngIf="user.name && tanks && tanks.length >= 1">
            <ion-icon name="person-circle-outline" class="personOutline" (click)="triggerHead()" *ngIf="!showHead"></ion-icon>
            <ion-icon name="close-outline" class="personOutline" (click)="triggerHead()" *ngIf="showHead"></ion-icon>
          </label> -->

          <h4 class="notLoggedIn" *ngIf="!user.name">Login to create tanks & store species</h4>

          <!-- <h3 class="addTankTxt" *ngIf="tanks && tanks.length >= 1 && showTanks" (click)="addTank()">+ Begin New Tank</h3> -->
          <!-- <h3 class="wishlistTxt" *ngIf="wishlist && wishlist.length >= 1" (click)="triggerWishlist()">Wishlist</h3> -->

          <h4 class="noFishYetTxt" *ngIf="tanks && tanks.length < 1 && showTanks">
            You haven't added any tanks yet...
            <!-- <a (click)="addTank()">Start your first tank</a> to begin -->
          </h4>

          <div *ngIf="tanks">

            <ion-reorder-group (ionItemReorder)="reOrderTanks($event)" disabled="false" *ngIf="showTanks">

              <div *ngFor="let tank of tanks; let i = index">

                <ion-list-header *ngIf="tank.group">{{tank.group}}</ion-list-header>

                <div class="tankSpace animated bounceIn" [ngStyle]="{'background' : tank.fullColour}">

                  <div *ngIf="!groupingMode">
                    <ion-reorder>
                      <ion-icon name="list" class="selectPal"></ion-icon>
                    </ion-reorder>

                    <ion-icon *ngIf="colourFound" class="selectPal" (click)="changeColour(tank, i)" name="color-palette"></ion-icon>
                  </div>

                  <div *ngIf="groupingMode" (click)="checkTankToGroup(tank, i)">
                    <ion-icon class="selectPal" name="checkbox-outline" *ngIf="!tank.checked"></ion-icon>
                    <ion-icon class="selectPal" name="checkbox" *ngIf="tank.checked"></ion-icon>
                  </div>

                  <h3 *ngIf="!tank.nickname" (click)="initTankDetail(tank.name)">{{tank.name}}</h3>
                  <h3 *ngIf="tank.nickname" (click)="initTankDetail(tank.name)">{{tank.nickname}}</h3>

                  <h4 (click)="initTankDetail(tank.name)">
                    <label *ngIf="tank.temp">

                      <label *ngIf="tank.individualCount">{{tank.individualCount}}</label>
                      <label *ngIf="!tank.individualCount || tank.individualCount == 0">0</label> fish,

                      <label *ngIf="tank.speciesCount">{{tank.speciesCount}}</label>
                      <label *ngIf="!tank.speciesCount || tank.speciesCount == 0">0</label> species,

                      <label *ngIf="tank.temp"> &bull; {{tank.temp}}deg</label>
                    </label>
                  </h4>

                  <h5 *ngIf="tank.substrate && tank.substrate !== 'Other'" (click)="initTankDetail(tank.name)">
                    <label *ngIf="tank.size"> A <b>{{tank.size}}</b>L

                    <label *ngIf="tank.isSaltwater"> saltwater </label>
                    <label *ngIf="tank.isBrackish"> brackish </label>
                    <label *ngIf="!tank.isBrackish && !tank.isSaltwater"> freshwater </label>

                     environment with a </label><br />
                    <label *ngIf="!tank.size"> With a </label>
                    <b>{{tank.substrate}}</b> Substrate.
                    <label *ngIf="tank.ph"> ph:<b>{{tank.ph}}</b>.</label>
                  </h5>

                  <h5 *ngIf="tank.substrate && tank.substrate == 'Other'" (click)="initTankDetail(tank.name)">
                    <label *ngIf="tank.size"> A {{tank.size}}L environment with an </label><br />
                    <label *ngIf="!tank.size"> With an </label>
                    <b>Alternative</b> Substrate
                  </h5>

                </div>
              </div>
            </ion-reorder-group>

            <!-- Section 3: WISHLIST -->
            <div class="titleWithSpace animated bounceIn" *ngIf="wishlist && wishlist.length >= 1 && tankSearchController.length == 0">
              <label class="leftTitle topTitle2" (click)="hideWishlist()">
                Favourites
                <ion-icon class="circIco" *ngIf="showWishlist" name="remove-circle-outline"></ion-icon>
                <ion-icon class="circIco" *ngIf="!showWishlist" name="add-circle-outline"></ion-icon>
              </label>

              <div class="wishlistPillScroller" *ngIf="showWishlist">

                <div class="wishlistPill" *ngFor="let fish of wishlistItems" (click)="openFishDetailModal(fish)">
                  <img [src]="fish.Pics[0]" onerror="this.src='../assets/noImg.png'" />
                  <span class="triangle"></span>
                  <h1>{{fish.name}}</h1>
                  <h2>{{fish.genus}} &bull; {{fish.species}}</h2>
                </div>

                <div class="wishlistPill emptyPill"></div>

              </div>
            </div>

          </div>

          <div class="forcedSpace"></div>

        </div>
      </ion-content>
    </div>


  <!-- Section 2: ADD TANK -->
  <div class="addTank" *ngIf="addTankMode && !tankSizeImages">
    <ion-icon name="close-outline" (click)="closeTank()" class="backArrowBlack"></ion-icon>

    <div class="ughAbsouleNoTop">
      <div class="ion-page">
        <ion-content class="addTankContent">
          <label class="topTitle4 animated slideInUp">Add a tank</label>

          <form class="animated slideInUp" (ngSubmit)="confirmForm()">
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Tank Name</ion-label>
                <ion-input type="text" [(ngModel)]="tank.name" value="" placeholder="{{tank.name}}" name="name" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Approximate PH (optional)</ion-label>
                <ion-input type="number" [(ngModel)]="tank.ph" name="ph"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Temperature (DEG)</ion-label>

                <ion-range min="15" max="35" step="1" snaps="true" ticks="true" pin="true" [(ngModel)]="tank.temp" name="temp" required>
                  <ion-icon size="small" slot="start" name="snow-outline"></ion-icon>
                  <ion-icon slot="end" name="flame-outline"></ion-icon>
                </ion-range>

              </ion-item>

              <ion-item>
                 <a (click)="showTankSizesImage()" class="leftSize">Typical Sizes</a>
                <ion-label position="stacked">Tank Dimensons in Liters</ion-label>
                <ion-input type="number" [(ngModel)]="tank.size" name="size" required></ion-input>
              </ion-item>

              <ion-item>
                <ion-label><a (click)="showBrackishAlert()">Brackish?</a></ion-label>
                <ion-toggle [(ngModel)]="tank.isBrackish" (click)="triggerBrackish()" name="brackish"></ion-toggle>
              </ion-item>

              <ion-item>
                <ion-label><a (click)="showSaltwaterAlert()">Saltwater?</a></ion-label>
                <ion-toggle [(ngModel)]="tank.isSaltwater" (click)="triggerFreshwater()" name="isSaltwater"></ion-toggle>
              </ion-item>

              <ion-radio-group [(ngModel)]="tank.substrate" name="substrate" required>
                <ion-list-header>
                  <ion-label>Substrate</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>No Substrate</ion-label>
                  <ion-radio slot="start" value="No Substrate"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Coral Sand</ion-label>
                  <ion-radio slot="start" value="Coral Sand"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>River Sand</ion-label>
                  <ion-radio slot="start" value="River Sand"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Quartz</ion-label>
                  <ion-radio slot="start" value="Quartz"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Laterite</ion-label>
                  <ion-radio slot="start" value="Laterite"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Large Stones</ion-label>
                  <ion-radio slot="start" value="Large Stones"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Medium Stones</ion-label>
                  <ion-radio slot="start" value="Medium Stones"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Micro-Stones</ion-label>
                  <ion-radio slot="start" value="Micro Stones"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Other</ion-label>
                  <ion-radio slot="start" value="Other"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <button class="confirmBtn" type="submit">Confirm</button>
            </ion-list>

          </form>

          <div class="forcedSpace"></div>

        </ion-content>
      </div>
    </div>
  </div>

  <!-- Section 3: TYPICAL TANK SIZES -->
  <div class="tankSizeSelect" *ngIf="tankSizeImages">
    <ion-icon name="close-outline" (click)="closeTankSizeTrigger()" class="backArrowBlack specialTopArrow"></ion-icon>

    <img src="../assets/sizes.png" />
  </div>

</ion-app>
